$header-height: 2.5em;

body {
  margin: 0;
  font-family: sans-serif;
  background: white;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .spinner {
    border: 1em solid black;
    border-left-color: transparent;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    animation: rotate-spinner 1s linear infinite;
  }
  .progress {
    background: gray;
    height: 1em;
  }
}

@keyframes rotate-spinner {
  to {
    transform: rotate(1turn);
  }
}

html:not(.fullscreen) header {
  padding-left: calc(1em + 60px);
}
html.fullscreen {
  .grabber {
    display: none;
  }
  .search {
    width: 100%;
  }
}
header {
  height: $header-height;
  border-bottom: 1px solid #CCC;
  box-shadow: 0 -20px 5px 20px #CCC; // spread & move up to avoid fade in corners.
  background: transparentize(#f0f0f0, 0.1);
  position: fixed;
  width: 100vw;
  padding-left: 1em;
  box-sizing: border-box;

  .grabber {
    display: inline-block;
    width: 2em;
    height: 100%;
    background: repeating-linear-gradient(black 33%, #f0f0f0 33%, #f0f0f0 66%, black 66%);
    background-size: 100% 33%;
    float: right;
    -webkit-app-region: drag;

    cursor: -webkit-grab;
    cursor: move;

    .grab {
      right: 0.5em;
      top: 1.2em;
      &, &::before, &::after {
        height: 0.25em;
        width: 2em;
        background: #999;
        position: absolute;
        display: block;
        content: '';
      }
      &::before {
        top: -.6em;
      }
      &::after {
        bottom: -.6em;
      }
    }
  }

  .search {
    position: absolute;
    top: 0;
    width: calc(100% - 5em);
    height: 100%;
    font-size: 1.5em;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

body.ready #wrapper main .row {
  height: 0;
}

#wrapper {
  position: absolute;
  top: $header-height;
  z-index: -1;
  main {
    position: absolute;
    ul {
      padding: 0;
      margin: 0;
    }
    .row {
      display: flex;
      height: 20vw; // hack. WHY????
      width: 100vw;
      .item {
        display: flex;
        flex: 1;
        min-width: 20vw;
        max-width: 20vw;
        height: 20vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        .char {
          cursor: pointer;
          -webkit-user-select: none;
          min-height: 8vw;
          font-size:  8vw;
          font-family: sans-serif;
          width: 100%;
          text-align: center;
          &:hover ~ .note {
            opacity: 1;
          }
        }
        .code {
          margin-top: 1vw;
          font-size: 1vw;
          font-family: monospace;
          pointer-events: none;
          -webkit-user-select: none;
        }
        .note {
          background: transparentize(black, 0.5);
          color: white;
          border-radius: 0.75vw;
          padding: 0.5vw;
          width: 50%;
          text-align: center;
          pointer-events: none;
          opacity: 0;
          transition: opacity 0.2s;
          order: -1;
          margin-bottom: -1em - (1/8) - 0.5;
          z-index: 1;
          font-size: 1.75vw;
        }
      }
    }
  }
}
