$header-height: 2.5em;
@mixin font-stack($type) {
  font-family: SF UI $type, San Fransico $type, San Francisco, Helvetica Neue, Helvetica, Segoe UI, sans-serif;
}
@mixin header-shadow() {
  content: '';
  height: 5px;
  background: linear-gradient(to bottom, rgba(204, 204, 204, 0.45), transparent);
  display: block;
  position: fixed;
  width: 100vw;
  left: 0;
}
$header-background: transparentize(#f0f0f0, 0.1);
$header-border: #CCC;

body {
  margin: 0;
  margin-top: $header-height;
  @include font-stack(Text);
  background: white;
  overflow: hidden;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .spinner {
    border: 1em solid black;
    border-left-color: transparent;
    border-radius: 50%;
    width: 10em;
    height: 10em;
    animation: rotate-spinner 1s linear infinite;
  }
  .progress {
    background: gray;
    height: 1em;
  }
}

@keyframes rotate-spinner {
  to {
    transform: rotate(1turn);
  }
}

html:not(.fullscreen) header {
  padding-left: calc(1em + 60px);
}
html.fullscreen {
  .search {
    width: 100%;
  }
}
header {
  z-index: 1;
  height: $header-height;
  border-bottom: 1px solid $header-border;
  &::after {
    @include header-shadow;
    margin-top: 2.5em;
  }
  background: $header-background;
  position: fixed;
  top: 0;
  width: 100vw;
  padding-left: 1em;
  box-sizing: border-box;

  -webkit-app-region: drag;

  .search {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    width: calc(100% - 5em);
    height: 100%;
    font-size: 1.5em;

    background: transparent;
    border: none;
    -webkit-appearance: none;
    padding: 0;

    &:focus {
      outline: none;
    }
  }
}

body.ready .wrapper .scroller .row {
  height: 0;
}

main {
  position: absolute;
}

.char {
  @include font-stack(Display);
}

.wrapper {
  z-index: -1;
  .scroller {
    z-index: -1;
    position: absolute;
    ul {
      padding: 0;
      margin: 0;
    }
  }
}

.inline-block {
  display: inline-block;
}

#main {
  height: 100vw;
  width: 100vw;
  .item {
    display: flex;
    flex: 1;
    min-width: 20vw;
    max-width: 20vw;
    height: 20vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .char {
      cursor: pointer;
      -webkit-user-select: none;
      min-height: 8vw;
      font-size:  8vw;
      font-family: sans-serif;
      width: 100%;
      text-align: center;
      &:hover ~ .note {
        opacity: 1;
      }
    }
    .code {
      margin-top: 1vw;
      font-size: 1vw;
      font-family: monospace;
      pointer-events: none;
      -webkit-user-select: none;
    }
    .note {
      background: transparentize(black, 0.5);
      color: white;
      border-radius: 0.75vw;
      padding: 0.5vw;
      width: 50%;
      text-align: center;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s;
      order: -1;
      margin-bottom: -3vw;
      z-index: 1;
      font-size: 1.6vw;
    }
  }
}

.search-results-wrap {
  height: 100vh;
  overflow: auto;
}
.search-results {
  width: 75vw;
  min-width: 500px;
  margin: auto;
  position: relative;
  margin-top: -2.5em;
  .exact-match {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 2.5em;
    &::before {
      content: '';
      width: 100vw;
      background: $header-background;
      border-bottom: 1px solid #CCC;
      height: 10vw;
      display: block;
      position: fixed;
      z-index: -1;
      left: 0;
    }
    &::after {
      @include header-shadow;
    }
  }
  .item {
    height: 10vw;
    width: 100%;

    display: flex;
    align-items: center;

    &>* {
      &:not(:first-child) {
        margin-left: 0.25em;
      }
      &:not(:last-child) {
        margin-right: 0.25em;
      }
    }
    .char {
      font-size: 10vw*(7/8);
      text-align: center;
      width: 1em;
    }
    .code {
      font-family: monospace;

      &::before {
        content: '(';
      }
      &::after {
        content: ')';
      }
    }
    .name {
      flex: 1;
    }
  }
}
